* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.crypto-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools {
  display: flex;
}

.canvas-container {
  position: relative;
  width: 90%;
  height: 90vh;
}

.disabled {
  display: none;
}

#chart-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#chart-data {
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  height: 100%;
}

#chart-draw {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 95%;
  height: 100%;
  pointer-events: auto;
}
