* {
  margin: 0;
  padding: 0;
}

.crypto-details {
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
}

.canvas-container {
  position: relative;
  width: 80%;
  height: 70%;
}

.disabled {
  display: none;
}

#chart-data,
#chart-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#chart-draw {
  z-index: 9999;
  width: 100%;
  height: 100%;
}
